
.container{
    width: 100%;
    height: 50%;
    display: inline-block;
    padding-left: 100;
    margin: 0%;

}
.center{
    position:absolute;
    top: 8px;
    left: 300px;
    margin-right: 10%;
    
 
  
}
.image{
    width: 100%;
    height: 500px;
}
.button{
    width: 250px;
    text-align: left;
    border-radius: 3px;
    background-color: #ffe5d6;
    align-items: center;
    position: relative;
    
    
    
    
}
#icon{
    width: 8%;
    height:15px ;
    
}
.paragraph{
    text-align: center;
    position: absolute;
    font-size: xx-large;
    color:brown;
   

}
.alt{
    text-align: center;
    margin-right: 40%;
    padding-bottom: 100%;
    color: brown;
    font: bolder;
    font-weight: 900;


}
.button2{
    border-radius: 40px;
    width: 170px;
    height: 35px;
    background-color:brown;
    top: 30px;
    color: #ffac7d;
    font: bold;
    padding-bottom: 10px;
    

}
.style{
    text-align: left;
}
.image1{
    width: 30%;
    float: right;
    padding-right: 3px;
}
.button3{
    width:20%;
    position: relative;
    margin-left: 50%;
    background-color: burlywood;
    align-self: center;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    font-weight: bold;

}
.b1{
    border: solid 3px #021116 solid;
    width: 100%;
    padding-top: 15%;
    background-color: #002d3d;
    padding-bottom: 90px;
    margin-block-end: 10;
    padding-right: 10;
    

    
}
.b2{
    bottom: 200%;
    width: 50%;
    
    left: 8%;
    position: relative;
 
 
    

    
}
.button4{
    width: 20%;
    height: 30px;
    background-color: #ffac7d;
    margin-left: 20%;
    border-radius: 10%;
    
}
.image5{
    width: 30%;
    float: left[];
    
}
.inspiration{
    border-radius: 30;
    border:#021116;
    
}
.list{
    float: left;
    background-color: #002d3d;
    padding-top: 20px;
    
}
.last{
    border: #021116;
    background-color: #002d3d;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    
}
#home{
    margin-right: 20%;
    color: brown;
    font-weight: bolder;
}
#style{
   margin-right: 10%;
   color: black;
   font:bolder;
   font-weight: 900;
}
.offers{
    margin-right: 3%;
    color: black;
    font:bolder ;
    
}
#Designs{
    color: #ffac7d;
    font-weight: bolder;
    font-size: xx-large;
    margin-top:10%;


}
.mordern{
   
    width: 100%;

}
.header{
    top:1px;
    left: 50%;
    margin-left: 10%;
    
   
}
.b3{
    width:5% ;
    bottom: 200px;


    
}.
.image7{
    object-fit: cover;
    height: 100%;
    width: 100%;


}

   

.container2{
border-style: hidden;
padding: 50px ;
height: 350px;
display: flex;
background-color: #ffe5d6;
padding-right: 10px;
}
.image7{
margin-left: 50%;
object-fit: cover;
height: 100%;
width: 100%;

    
    
}
.box{
    margin-bottom: 20%;
    width: 50%;
    border-radius: 50%;
    background-color: cornsilk;
    height: fit-content;
    text-align: center;

}
.div1{
    display: flex;
}
b5{
    display: flex;
    width: 100%;
    height: 2px;
}
.class{
    display: flex;
}
.imagess{
    display: flex;
    padding: 20px 20px 20px;
}
#kamidris{
    height: 90%;
    width: 200px;
    padding-left: 250px ;
}
#kam{
    height: 90%;
    width: 200px;
    padding-left: 40px;
}
#idris{
    height: 90%;
    width: 200px; 
    padding-left: 40px;
}
.image7{
    width:200px ;
    height: 60%;
    
}
.image6{
    float: left;
}
.list2{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px 10px 10px ;
    justify-content: left;
    display: flex;
    
    width: 100%;
}
#l1{
    padding-right: 20%;
    font: bolder;

    
}
#l2{
   padding-right: 20% ;
   font: bolder;
}
#l3{
    padding-right: 10%;
    font:bolder;
}


#button5{
    background-color: #ffac7d;
    width: 70px; 
    border-radius: 20px;

}
.words{
    margin-top: 3%;
    margin-right: 1%;

}
.image9{
    width: 30%;
    height: 30%;
    padding-right: 10%;
}
.image10{
    width: 30%;
    height: 30%;
    padding-right: 10%;
    
}
.image11{
    width: 30%;
    height: 30% ;
    padding-right: 10%;
}
.sweet{
    float: left;
    display: inline-flexbox;
    padding-left: 10%;
    width: 50%;
    margin-left: 10%;
}
.float{
    display: flex;
    padding: 5px 5px 5px;
    
}
.s{
 padding-right: 30%;
 font-weight: 900;
 background-color: #ffe5d6;
 border-radius: 20px;
 width: 10px;
 
 
}
.n{
    padding-right: 40%;
    font-weight: 900;

}
.a{
right:  10px;
    margin-right: 20%;
    font-weight: 900;
}
.fa{

padding: 3px;
width: 10px;
text-decoration: none;
margin: 3px 3px 3px;
padding: left 10px;
color: brown;

}
.boxcell2{
    height: 500px;
    object-fit: cover;
}
.join{
    text-align: center;
}
.lili{
list-style-type: none;
display: inline-block;
justify-content: left;
display: flex;
padding-left: 20px 20px 20px;
}
.brand{
    background-color: #002d3d;
    padding-bottom: 20px;
    height: 500px;
}
#button22{
    padding-left: 500px;

}
#rustic{
    padding-right: 5px;
    color: #ffac7d;
    margin-left:190px ;

}
#oak{
    margin-left: 100px;
    color: #ffac7d;
}
#scan{
    margin-left: 90px;
    color: #ffac7d;
}

    
    
   

